body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.contact-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form label {
    display: block;
    margin: 10px 0 5px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background: #0056b3;
}
.contact-info {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.social-links li {
    display: inline;
    margin-right: 30px;
}
.social-links li a {
    color: #007bff;
}
.social-links li a:hover {
    text-decoration: underline;
    color:aqua;
}
footer {
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: white;
    margin-top: 20px;
}
 iframe{
     width:800px;
    margin:20px auto;
    padding:10px;
    margin-left:350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

} 
 .map{
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
