/*
primary color - #736EFE
secondary color - #000000
tertiary color - #fdfcfb
*/
body{
    margin: 0;
    /* font-family: monospace; */
    font-family: system-ui;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008069;
    padding: 15px 40px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo{
    height: 40px;
    margin-right: 10px;
}
.brand-name{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.nav-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    
}
.nav-links li{
    display: inline;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
}
.nav-links a:hover{
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: white;
    margin-top: 20px;
}
footer {
    background-color: #008069;
    color: white;
    padding: 30px 0;
    text-align: center;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
}
.footer-section {
    margin: 10px;
    min-width: 180px;
}
.footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin: 5px 0;
}
.footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.social-icons a img {
    width: 25px;
    margin: 5px;
}
.footer-section input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 70%;
}
.footer-section button {
    padding: 8px 12px;
    background: white;
    color: #008069;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}
.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
}